.persons {
  width: 200px;
  font-size: 16px;
  margin-bottom: 10px;

  .person {
    text-align: center;
    margin: 10px 0;
    padding: 3px;
    &:hover {
      color: #025e9d;
      cursor: pointer;
    }
  }
}
.active {
  background-color: #40A9FF8C;
}
.moreInfo {
  display: flex;
  justify-content: space-between;
  .info {
    margin: 16px;
    span {
      color: #40a9ff;
    }
  }
  .image {
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}